/*Footer padrão dos projetos MAF*/
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--corPrincipal);
    padding: 3em 1em;
    color: var(--branco);
}
footer h2{
    border: 2px solid var(--branco);
    width: 15em;
    text-align: center;
    padding: 0.5em;
    border-radius: 10px;
}
footer a{
    display: flex;
    align-items: center;
    gap: 1em;
    color: var(--branco);
}
footer img{
    width: 1.5em;
}